.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color:aquamarine; */
  background: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
}
.loginForm {
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.33);
  backdrop-filter: blur(3px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
}
.formTitle {
  display: flex;
  justify-content: center;
}
.socialIconContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;
  font-size: 24px;
}
.socialIcon {
  cursor: pointer;
}
